*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Card1{
background-color: rgba(229, 231, 232, 0.386);
width: calc(100% -3px);
height: 320px;
display: flex;
margin-top:5px;
margin-left:5px;
color: black;
padding: 10px;
}
.Card1:hover{
  background-color: #e1effbbb;
}

.brand{
  background-color:#2d7fc5;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: max-content;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.image1{
  width: 30%;
}

.desclist{
  display: flex;
  margin: 15px;
  padding: 5px;
  flex-direction: column;
}

.mb{
  margin-bottom: 5px;
}

.discount{
 
  background-color:#c05d07;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: max-content;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}